p {
    font-size: 150px;
}

section {
    margin-left: 50px;
    background-repeat: no-repeat;
    min-height: 60vh;
    background-size: contain;
    max-height: max-content;
}

h3 {
    font-size: xx-large;
    margin-left: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url();
}