section {
    background: url(../../../assets/Images/background.webp);
    background-repeat: no-repeat;
    min-height: 92vh;
    max-height: max-content;
    background-size: cover;
}

table thead {
    color: white;
    font-family: monospace;
}

table tbody tr:hover {
    background: whitesmoke;
    color: black;
}

table tbody tr {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.deleteRowPop {
    position: absolute;
    left: 44%;
    color: white;
    width: max-content;
    height: 50px;
    background-color: rgb(161, 33, 33);
}

.updateRowPop {
    position: absolute;
    top: 9%;
    left: 44%;
    color: white;
    width: max-content;
    height: 50px;
    background-color: green;
}

.updateRowPop p {
    padding: 10px;
}

.deleteRowPop p {
    padding: 10px;
}

tbody tr a {
    font-weight: 600;
    color: rgb(116, 116, 21);
}

tbody tr a:hover {
    font-weight: 600;
    font-size: 25px;
    color: black;
}

.fa-wrench {
    color: yellow;
    font-size: small;
    position: relative;
    top: -15px;
    left: -25%;
}

.fa-wrench:hover {
    color: black;
}

.fa-times {
    color: red;
    font-size: 30px;
    padding-left: 5px;
    margin: 5px 0px 0px 8px;
}

