<section>
    <div class="container-fluid">

        <div class="deleteRowPop" *ngIf="deleteBool">
            <p>{{projectname}} is deleted</p>
        </div>
    
        <div class="updateRowPop" *ngIf="updateBool">
            <p>{{projectname}} is updated</p>
        </div>
    
        <div class="pb-4 pt-4">
            <button class="btn btn-primary" (click)="projectForm.reset();" data-toggle="modal" data-target="#addProject">
                <a class="text text-light">
                    A D D
                </a>
            </button>
        </div>
    
        <div class="modal fade" id="addProject" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text text-warning" id="addEmp">
                            A D D &nbsp; A &nbsp; N E W &nbsp; P R O J E C T
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #projectForm="ngForm">
                            <div class="form-group">
                                <label class="text text-primary h6" for="projectName">Project name</label>
                                <input type="text" class="form-control" ngModel #name="ngModel" name="projectName"
                                    id="project_name" required>
                                <div *ngIf="name.touched && name.invalid">
                                    <small class="text text-danger">*Enter project name</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text text-primary h6" for="projectLead">Name of project lead</label>
                                <input type="text" class="form-control" ngModel #projectLead="ngModel" name="projectLead"
                                    id="project_lead" required>
                                <div *ngIf="projectLead.touched && projectLead.invalid">
                                    <small class="text text-danger">*Enter name of project lead</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text text-primary h6" for="projectDate">Project start date </label>
                                <input type="date" class="form-control" ngModel #startDate="ngModel" name="startDate"
                                    id="project_start" required>
                                <div *ngIf="startDate.touched && startDate.invalid">
                                    <small class="text text-danger">*Select a date</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text text-primary h6" for="projectBG">Project Image(URL)</label>
                                <input type="text" class="form-control" ngModel #projectImage="ngModel" name="background"
                                    id="background" required>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-success" data-dismiss="modal"
                                    (click)="postProjectDetails(projectForm.value);" [disabled]="projectForm.invalid">
                                    A D D
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <table class="table table-bordered">
            <thead>
                <tr class="text-center">
                    <th>
                        P R O J E C T I D
                    </th>
                    <th>
                        P R O J E C T N A M E
                    </th>
                    <th>
                        P R O J E C T L E A D
                    </th>
                    <th>
                        P R O J E C T S T A R T D A T E
                    </th>
                    <th colspan="3" class="text text-center">
                        M O D I F Y
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let data of projectData; let i = index">
                    <td>
                        <a [routerLink]="'view-project/'+data.id" target="_blank">{{data.id}}</a>
                    </td>
                    <td>
                        <span><i *ngIf="!data.isUpdated" (click)="updateProject(i,data)" class="fa fa-wrench"
                                aria-hidden="true"></i></span>
                        <span *ngIf="!data.isUpdated; else EditName">
                            {{data.projectName}}
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!data.isUpdated; else EditLead">
                            {{data.projectLead}}
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!data.isUpdated; else EditDate">
                            {{data.startDate | date}}
                        </span>
                    </td>
                    <td *ngIf="data.isUpdated">
                        <button class="btn btn-warning updtBtn" (click)="updateRow(i,data.id)">
                            U P D A T E
                        </button>
                    </td>
                    <td *ngIf="data.isUpdated">
                            <i class="fas fa-times" (click)="cancelUpdate(i)" aria-hidden="true"></i>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteProject(data.id);projectname=data.projectName">
                            D E L E T E
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    <ng-template #EditName>
        <input type="text" [(ngModel)]="updateObj.projectName" class="form-control">
    </ng-template>
    
    <ng-template #EditLead>
        <input type="text" [(ngModel)]="updateObj.projectLead" class="form-control">
    </ng-template>
    
    <ng-template #EditDate>
        <input type="date" [(ngModel)]="updateObj.startDate" class="form-control">
    </ng-template>
</section>